<div class="wrapper">
    <main class="content">
        <div class="user-info">
            <img src="/assets/img/photo-user.png" alt="" />
            <h1>
                Seja bem-vindo,<br/> eu sou Lucas Dourado
            </h1>
            <p>
                Seja bem-vindo a sua cópia do linktree.
                <br/>
                <i>Não utilizar comercialmente.</i>
            </p>
        </div>

        <app-social-media-buttons></app-social-media-buttons>
    </main>

    <footer>
        <p>
            CopyLinktree
        </p>
    </footer>
</div>